@tailwind utilities;

.cards.cards {
    gap: 2rem;
}

.cards span {
    margin: auto;
}

.dark .cards.cards a {
    border-color: rgb(150, 150, 150);
}

.dark .cards.cards a:hover {
    border-color: white;
}

.nx-mt-8.nx-border-t.nx-bg-white.nx-pt-8.nx-shadow-\[0_-12px_16px_white\].dark\:nx-bg-dark.dark\:nx-shadow-\[0_-12px_16px_\#111\].nx-sticky.nx-bottom-0.nx-flex.nx-flex-col.nx-items-start.nx-gap-2.nx-pb-8.dark\:nx-border-neutral-800.contrast-more\:nx-border-t.contrast-more\:nx-border-neutral-400.contrast-more\:nx-shadow-none.contrast-more\:dark\:nx-border-neutral-400 {
    position: fixed;
}

button.nx-flex.nx-items-center.nx-gap-1\.5.nx-transition.nx-text-xs.nx-font-medium.nx-text-gray-500.hover\:nx-text-gray-900.dark\:nx-text-gray-400.dark\:hover\:nx-text-gray-100.contrast-more\:nx-text-gray-800.contrast-more\:dark\:nx-text-gray-50 {
    background-color: bisque;
    padding: 5px;
    border-radius: 4px;
}